html,body{
    background-color:rgb(0, 0, 0)
}
.container{
margin: 160px 0 0 200px;
}
 .row-one,.row-two,.row-three.row-three,.row-four,.row-five{
    margin:10px 0 0 0;
} 
button{
    color:rgb(255, 255, 255);
    width: 55px;
    height: 55px;
    border: none;
    background-color:rgb(0, 0, 0);
    box-shadow: 5px 5px 10px #0a0a0a , -5px -5px 10px #858383;
    font-size: 20px;
    margin-left: 20px;
    outline: none;
    border-radius: 20%;
    font-family: Arial, Helvetica, sans-serif;

}
button:active{
    box-shadow: 1px 1px 2px #858383, -1px -1px 2px #0a0a0a;
}
.back{
    width: 200px;
    border-radius: 10px;
}
.tab{
    width: 85px;
    border-radius: 10px;
}
.slace{
    width: 85px;
    border-radius: 10px;
}.tab{
    width: 90px;
    border-radius: 10px;
}.cap{
    width: 100px;
    border-radius: 10px;
}.ent-but{
    width:154px;
    border-radius: 10px;
}
.shift{
    width: 166px;
    border-radius: 10px;
}
.other{
    width: 100px;
    border-radius: 10px;
}
.Space{
    width:400px;
    border-radius: 10px;
}
.tag{
    position: absolute;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3vw;
    background-color: aqua;
    color: #ffff;
}